body,
html {
  font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fffbf4;
  background-color: #0c1009;
  line-height: 1.618;
  font-size: 24px;
  overflow-x: hidden;
}
@media (max-width: 700px) {
  body,
  html {
    font-size: 18px;
  }
}
img {
  width: 100%;
}
img.gif {
  max-width: 420px;
}
img.auto {
  width: auto;
}
img.small {
  max-width: 666px;
}
@media (max-width: 700px) {
  img.gif {
    margin: 0 auto;
    text-align: auto;
    display: block;
  }
  img.auto {
    width: 100%;
  }
}
footer,
header,
main.home,
nav,
section {
  padding: 1.618rem 0;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
main.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main.home section {
  width: auto;
  margin-left: 0;
  margin-right: 1em;
}
main.home h2 {
  display: block;
  width: 100%;
}
main.home a {
  font-size: 35px;
}
@media (max-width: 700px) {
  main.home a {
    font-size: 30px;
  }
}
a {
  color: #fffbf4;
  text-decoration: none;
  display: inline;
  position: relative;
  background-position: left;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(98%, transparent),
    color-stop(0, #fffbf4)
  );
  background-image: -o-linear-gradient(top, transparent 98%, #fffbf4 0);
  background-image: linear-gradient(180deg, transparent 98%, #fffbf4 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.6s ease;
  -o-transition: background-size 0.6s ease;
  transition: background-size 0.6s ease;
}
a:hover {
  background-size: 0 100%;
  background-position: right;
}
h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: 72px;
  line-height: 1;
}
h1 .sm-text {
  margin-top: 2em;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 30px;
  display: inline-block;
  margin: 1rem 0;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
h4 {
  margin: 1rem 0;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
@media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
}
ul {
  padding-left: 22px;
  margin: 0;
  list-style: square;
}
@media (max-width: 700px) {
  .big-art {
    overflow-x: scroll;
  }
}
.wider {
  max-width: 1440px;
}
.wide {
  max-width: 1300px;
}
.intro {
  margin-top: 10em;
  border-bottom: 3px solid #fffbf4;
}
.intro.projects h1 {
  font-size: 30px;
  margin-top: 0;
}
.intro.projects h2 {
  font-size: 14vw;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}
@media (max-width: 700px) {
  .intro {
    margin-top: 5em;
  }
  .intro.projects h1 {
    font-size: 20px;
  }
}
footer,
section:last-child {
  border-bottom: 0;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
svg {
  fill: #fffbf4;
  width: 100%;
}
@media (max-width: 700px) {
  svg {
    min-width: 1400px;
  }
}
svg .d,
svg .e {
  stroke: #fffbf4;
}
svg .a {
  opacity: 0.3;
}
svg .c,
svg .d,
svg .e {
  fill: none;
}
svg .d {
  stroke-width: 1.6px;
}
.e,
svg .d {
  stroke-miterlimit: 10;
}
svg .e {
  stroke-width: 2px;
}
i.fab {
  font-size: 1.25rem;
}
.sm-text {
  font-size: 14px;
  letter-spacing: 0.5px;
}
.aside-text {
  max-width: 300px;
  width: 100%;
}
.lg-text {
  font-size: 30px;
}
@media (max-width: 700px) {
  .aside-text {
    max-width: 100%;
  }
  .lg-text {
    font-size: 20px;
  }
}
.rainbow.border {
  -webkit-animation: rainbowBorder 6s ease-out infinite alternate;
  animation: rainbowBorder 6s ease-out infinite alternate;
}
.rainbow {
  color: red;
  -webkit-animation: rainbow 6s linear infinite alternate;
  animation: rainbow 6s linear infinite alternate;
}
@-webkit-keyframes rainbow {
  12.5% {
    color: red;
  }
  25% {
    color: orange;
  }
  37.5% {
    color: #ff0;
  }
  50% {
    color: #7fff00;
  }
  62.5% {
    color: #0ff;
  }
  75% {
    color: #3232ff;
  }
  87.5% {
    color: #9932cc;
  }
  100% {
    color: #ff1493;
  }
}
@keyframes rainbow {
  12.5% {
    color: red;
  }
  25% {
    color: orange;
  }
  37.5% {
    color: #ff0;
  }
  50% {
    color: #7fff00;
  }
  62.5% {
    color: #0ff;
  }
  75% {
    color: #3232ff;
  }
  87.5% {
    color: #9932cc;
  }
  100% {
    color: #ff1493;
  }
}
@-webkit-keyframes rainbowBG {
  12.5% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  37.5% {
    background-color: #ff0;
  }
  50% {
    background-color: #7fff00;
  }
  62.5% {
    background-color: #0ff;
  }
  75% {
    background-color: #3232ff;
  }
  87.5% {
    background-color: #9932cc;
  }
  100% {
    background-color: #ff1493;
  }
}
@keyframes rainbowBG {
  12.5% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  37.5% {
    background-color: #ff0;
  }
  50% {
    background-color: #7fff00;
  }
  62.5% {
    background-color: #0ff;
  }
  75% {
    background-color: #3232ff;
  }
  87.5% {
    background-color: #9932cc;
  }
  100% {
    background-color: #ff1493;
  }
}
@-webkit-keyframes rainbowFill {
  12.5% {
    fill: red;
  }
  25% {
    fill: orange;
  }
  37.5% {
    fill: #ff0;
  }
  50% {
    fill: #7fff00;
  }
  62.5% {
    fill: #0ff;
  }
  75% {
    fill: #3232ff;
  }
  87.5% {
    fill: #9932cc;
  }
  100% {
    fill: #ff1493;
  }
}
@keyframes rainbowFill {
  12.5% {
    fill: red;
  }
  25% {
    fill: orange;
  }
  37.5% {
    fill: #ff0;
  }
  50% {
    fill: #7fff00;
  }
  62.5% {
    fill: #0ff;
  }
  75% {
    fill: #3232ff;
  }
  87.5% {
    fill: #9932cc;
  }
  100% {
    fill: #ff1493;
  }
}
@-webkit-keyframes rainbowOutline {
  12.5% {
    outline-color: red;
  }
  25% {
    outline-color: orange;
  }
  37.5% {
    outline-color: #ff0;
  }
  50% {
    outline-color: #7fff00;
  }
  62.5% {
    outline-color: #0ff;
  }
  75% {
    outline-color: #3232ff;
  }
  87.5% {
    outline-color: #9932cc;
  }
  100% {
    outline-color: #ff1493;
  }
}
@keyframes rainbowOutline {
  12.5% {
    outline-color: red;
  }
  25% {
    outline-color: orange;
  }
  37.5% {
    outline-color: #ff0;
  }
  50% {
    outline-color: #7fff00;
  }
  62.5% {
    outline-color: #0ff;
  }
  75% {
    outline-color: #3232ff;
  }
  87.5% {
    outline-color: #9932cc;
  }
  100% {
    outline-color: #ff1493;
  }
}
.thanks {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
}
.viewport {
  height: auto;
  background-color: #151912;
  padding: 1em;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  max-width: 800px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0.5em auto;
}
.viewport.mobile {
  padding: 2em 0.5em;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
}
.viewport.mobile .inner {
  overflow-y: scroll;
  height: 100%;
  widht: 100%;
  max-height: 350px;
  max-width: 220px;
}
.viewport.rainbow {
  display: inline-block;
  padding: 8px;
  -webkit-animation: rainbowBG 6s linear infinite alternate;
  animation: rainbowBG 6s linear infinite alternate;
  max-width: 100%;
}
.viewport.full {
  max-width: 100%;
}
.lg-hide {
  display: none;
}
.bold {
  font-weight: 600;
}
.top-border {
  border-top: 3px solid #fffbf4;
}
.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.left-right div {
  margin-left: 0;
  margin-right: auto;
}
.left-right div:last-child {
  margin-left: auto;
  margin-right: 0;
}
.right-left div {
  margin-right: 0;
  margin-left: auto;
}
.right-left div:last-child {
  margin-right: auto;
  margin-left: 0;
}
.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-between div {
  margin: 0 auto;
}
@media (max-width: 700px) {
  .space-around,
  .space-between {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .space-between div {
    margin: 0.5em auto;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .lg-hide {
    display: block;
  }
}
.vertical-space {
  margin: 2rem 0;
}
#dialogText {
  padding: 2em;
  color: #fffbf4;
  background-color: #0c1009;
  font-size: 14px;
  font-weight: 600;
}
#dialogWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  color: #fffbf4;
  background-color: #0c1009;
}
#dialogWrapCell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#mainDialog {
  max-width: 420px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c1009;
  text-align: left;
}
#passArea {
  background-color: #0c1009;
  width: 100%;
}
@media (max-width: 700px) {
  #mainDialog {
    max-width: 320px;
  }
}
#passArea > * {
  margin: 5px auto;
}
#pass {
  width: 100%;
  height: 40px;
  font-size: 30px;
  color: #fffbf4;
  background-color: black;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
}
#pass:focus {
  outline-style: solid;
  outline-width: 2px;
  -webkit-animation: rainbowOutline 6s ease-out infinite alternate;
  animation: rainbowOutline 6s ease-out infinite alternate;
}
#messageWrapper {
  float: left;
  vertical-align: middle;
  line-height: 30px;
}
.notifyText {
  display: none;
  font-size: 0.5rem;
}
#invalidPass {
  color: red;
}
#success {
  color: #7fff00;
}
#submitPass {
  font-size: 18px;
  border-radius: 0;
  -webkit-animation: rainbowBG 6s ease-out infinite alternate;
  animation: rainbowBG 6s ease-out infinite alternate;
  color: #0c1009;
  border: 0;
  outline: 0;
  font-weight: 600;
  margin: 0;
  padding: 12px 16px;
  float: right;
}
#contentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
