@font-face { font-family: Slussen Extended; src: url(fonts/Slussen-Extended-Semibold.woff); }
@font-face { font-family: Slussen Mono; src: url(fonts/Slussen-Mono-Light.woff); }
@font-face { font-family: Joly; src: url(fonts/Slussen-Regular.woff); }
@font-face {
  font-family: Emeritus;
  src: url(fonts/Emeritus-Display.woff);
}
@font-face {
  font-family: Tangley;
  src: url(fonts/Tangley-Regular.woff);
}
@font-face {
  font-family: Taklobo;
  src: url(fonts/Taklobo-Display.woff);
}
@font-face {
  font-family: Swirl;
  src: url(fonts/Swirl-Ag-Bold.woff);
}
.exp-text { font-family: Joly;}

body,
html {
  /* font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: Joly, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #FAFAFA;
  background-color: #1a1a1a;
  line-height: 1.618;
  font-size: 1.5rem;
  overflow-x: hidden;
}
/* @media (max-width: 700px) {
  body,
  html {
    font-size: 18px;
  }
} */
img {
  width: 100%;
}
img.gif {
  max-width: 420px;
}
img.auto {
  width: auto;
}
img.small {
  max-width: 666px;
}
@media (max-width: 700px) {
  img.gif {
    margin: 0 auto;
    text-align: auto;
    display: block;
  }
  img.auto {
    width: 100%;
  }
}
footer,
header,
main.home,
nav,
section {
  padding: 1.618rem 0;
  max-width: 60rem;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  display: block;
}
header h1 {
  text-transform: uppercase;
  font-size: 10rem;
}
main.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main.home section {
  width: auto;
  margin-left: 0;
  margin-right: 1em;
}
main.home .end {
  flex-basis: 100%;
}
main.home h2 {
  display: block;
  width: 100%;
}
main.home a {
  font-size: 2.75rem;
  font-family: Slussen Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
/* @media (max-width: 700px) {
  main.home a {
    font-size: 30px;
  }
} */
p a {
  font-family: Joly, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
a {
  font-family: Slussen Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  color: #FAFAFA;
  text-decoration: none;
  display: inline;
  position: relative;
  background-position: left;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(98%, transparent),
    color-stop(0, #FAFAFA)
  );
  background-image: -o-linear-gradient(top, transparent 98%, #FAFAFA 0);
  background-image: linear-gradient(180deg, transparent 98%, #FAFAFA 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.6s ease;
  -o-transition: background-size 0.6s ease;
  transition: background-size 0.6s ease;
}
a:hover {
  color: #FAFAFA;
  background-size: 0 100%;
  background-position: right;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(98%, transparent),
    color-stop(0, #FAFAFA)
  );
  background-image: -o-linear-gradient(top, transparent 98%, #FAFAFA 0);
  background-image: linear-gradient(180deg, transparent 98%, #FAFAFA 0);
}
h1,
h2,
h3,
h4 {
  font-family: Slussen Extended, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: 3.5rem;
  line-height: 1;
}
h1 .sm-text {
  margin-top: 2em;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  display: inline-block;
  margin: 1rem 0;
  /* -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); */
}
h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
  letter-spacing: 0.033rem;
  /* -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); */
}
/* @media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
} */
ul {
  padding-left: 22px;
  margin: 0;
  list-style: square;
}
@media (max-width: 700px) {
  .big-art {
    overflow-x: scroll;
  }
}
.wider {
  max-width: 90rem;
}
.wide {
  max-width: 80rem;
}
.intro {
  /* margin-top: 32rem; */
  border-bottom: 1px solid #FAFAFA;
}
.intro h1 {
  margin-bottom: 3em;
}
.intro.projects h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.intro.projects h2 {
  font-size: 6rem;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}
@media (max-width: 700px) {
  .intro {
    margin-top: 5em;
  }
  /* .intro.projects h1 {
    font-size: 20px;
  } */
}
footer,
section:last-child {
  border-bottom: 0;
}
/* footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} */
svg {
  fill: #FAFAFA;
  width: 100%;
}
@media (max-width: 700px) {
  svg {
    min-width: 1400px;
  }
}
svg .d,
svg .e {
  stroke: #FAFAFA;
}
svg .a {
  opacity: 0.3;
}
svg .c,
svg .d,
svg .e {
  fill: none;
}
svg .d {
  stroke-width: 1.6px;
}
.e,
svg .d {
  stroke-miterlimit: 10;
}
svg .e {
  stroke-width: 2px;
}
i.fab {
  font-size: 1.25rem;
}
.sm-text {
  font-size: 1rem;
  /* letter-spacing: 0.5px; */
}
.aside-text {
  max-width: 300px;
  width: 100%;
}
.lg-text {
  font-size: 1.5rem;
}
@media (max-width: 700px) {
  .aside-text {
    max-width: 100%;
  }
  /* .lg-text {
    font-size: 20px;
  } */
}
.rainbow.border {
  -webkit-animation: rainbowBorder 6s ease-out infinite alternate;
  animation: rainbowBorder 6s ease-out infinite alternate;
}
.rainbow {
  -webkit-animation: rainbow 6s ease-out infinite alternate;
  animation: rainbow 6s ease-out infinite alternate;
}
@-webkit-keyframes rainbow {
  12.5% {
    color: #FF7C7C;
  }
  25% {
    color: #EB8E12;
  }
  37.5% {
    color: #B4A700;
  }
  50% {
    color: #5CB900;
  }
  62.5% {
    color: #00B7B7;
  }
  75% {
    color: #9A9AFF;
  }
  87.5% {
    color: #C78EE3;
  }
  100% {
    color: #FF73BE;
  }
}
@keyframes rainbow {
  12.5% {
    color: #FF7C7C;
  }
  25% {
    color: #EB8E12;
  }
  37.5% {
    color: #B4A700;
  }
  50% {
    color: #5CB900;
  }
  62.5% {
    color: #00B7B7;
  }
  75% {
    color: #9A9AFF;
  }
  87.5% {
    color: #C78EE3;
  }
  100% {
    color: #FF73BE;
  }
}
@-webkit-keyframes rainbowBG {
  12.5% {
    background-color: #FF7C7C;
  }
  25% {
    background-color: #EB8E12;
  }
  37.5% {
    background-color: #B4A700;
  }
  50% {
    background-color: #5CB900;
  }
  62.5% {
    background-color: #00B7B7;
  }
  75% {
    background-color: #9A9AFF;
  }
  87.5% {
    background-color: #C78EE3;
  }
  100% {
    background-color: #FF73BE;
  }
}
@keyframes rainbowBG {
  12.5% {
    background-color: #FF7C7C;
  }
  25% {
    background-color: #EB8E12;
  }
  37.5% {
    background-color: #B4A700;
  }
  50% {
    background-color: #5CB900;
  }
  62.5% {
    background-color: #00B7B7;
  }
  75% {
    background-color: #9A9AFF;
  }
  87.5% {
    background-color: #C78EE3;
  }
  100% {
    background-color: #FF73BE;
  }
}
@-webkit-keyframes rainbowFill {
  12.5% {
    fill: #FF7C7C;
  }
  25% {
    fill: #EB8E12;
  }
  37.5% {
    fill: #B4A700;
  }
  50% {
    fill: #5CB900;
  }
  62.5% {
    fill: #00B7B7;
  }
  75% {
    fill: #9A9AFF;
  }
  87.5% {
    fill: #C78EE3;
  }
  100% {
    fill: #FF73BE;
  }
}
@keyframes rainbowFill {
  12.5% {
    fill: #FF7C7C;
  }
  25% {
    fill: #EB8E12;
  }
  37.5% {
    fill: #B4A700;
  }
  50% {
    fill: #5CB900;
  }
  62.5% {
    fill: #00B7B7;
  }
  75% {
    fill: #9A9AFF;
  }
  87.5% {
    fill: #C78EE3;
  }
  100% {
    fill: #FF73BE;
  }
}
@-webkit-keyframes rainbowOutline {
  12.5% {
    outline-color: #FF7C7C;
  }
  25% {
    outline-color: #EB8E12;
  }
  37.5% {
    outline-color: #B4A700;
  }
  50% {
    outline-color: #5CB900;
  }
  62.5% {
    outline-color: #00B7B7;
  }
  75% {
    outline-color: #9A9AFF;
  }
  87.5% {
    outline-color: #C78EE3;
  }
  100% {
    outline-color: #FF73BE;
  }
}
@keyframes rainbowOutline {
  12.5% {
    outline-color: #FF7C7C;
  }
  25% {
    outline-color: #EB8E12;
  }
  37.5% {
    outline-color: #B4A700;
  }
  50% {
    outline-color: #5CB900;
  }
  62.5% {
    outline-color: #00B7B7;
  }
  75% {
    outline-color: #9A9AFF;
  }
  87.5% {
    outline-color: #C78EE3;
  }
  100% {
    outline-color: #FF73BE;
  }
}
.thanks {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 1em;
  font-family: unset;
}
.viewport {
  height: auto;
  background-color: #151912;
  padding: 1em;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  max-width: 800px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0.5em auto;
}
.viewport.mobile {
  padding: 2em 0.5em;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
  box-shadow: 0 2px 34px 1px rgba(225, 220, 220, 0.25);
}
.viewport.mobile .inner {
  overflow-y: scroll;
  height: 100%;
  widht: 100%;
  max-height: 350px;
  max-width: 220px;
}
.viewport.rainbow {
  display: inline-block;
  padding: 8px;
  -webkit-animation: rainbowBG 6s linear infinite alternate;
  animation: rainbowBG 6s linear infinite alternate;
  max-width: 100%;
}
.viewport.full {
  max-width: 100%;
}
.lg-hide {
  display: none;
}
.bold {
  font-weight: 600;
}
.top-border {
  border-top: 1px solid #FAFAFA;
}
.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.left-right div {
  margin-left: 0;
  margin-right: auto;
}
.left-right div:last-child {
  margin-left: auto;
  margin-right: 0;
}
.right-left div {
  margin-right: 0;
  margin-left: auto;
}
.right-left div:last-child {
  margin-right: auto;
  margin-left: 0;
}
.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-between div {
  margin: 0 auto;
}
@media (max-width: 700px) {
  .space-around,
  .space-between {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .space-between div {
    margin: 0.5em auto;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .lg-hide {
    display: block;
  }
}
.vertical-space {
  margin: 2rem 0;
}
#dialogText {
  padding: 2em;
  color: #FAFAFA;
  background-color: #FAFAFA;
  font-size: 14px;
  font-weight: 600;
}
#dialogWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  color: #FAFAFA;
  background-color: #FAFAFA;
}
#dialogWrapCell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#mainDialog {
  max-width: 420px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  text-align: left;
}
#passArea {
  background-color: #FAFAFA;
  width: 100%;
}
@media (max-width: 700px) {
  #mainDialog {
    max-width: 320px;
  }
}
#passArea > * {
  margin: 5px auto;
}
#pass {
  width: 100%;
  height: 40px;
  font-size: 30px;
  color: #1a1a1a;
  background-color: black;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
}
#pass:focus {
  outline-style: solid;
  outline-width: 2px;
  -webkit-animation: rainbowOutline 6s ease-out infinite alternate;
  animation: rainbowOutline 6s ease-out infinite alternate;
}
#messageWrapper {
  float: left;
  vertical-align: middle;
  line-height: 30px;
}
.notifyText {
  display: none;
  font-size: 0.5rem;
}
#invalidPass {
  color: red;
}
#success {
  color: #5CB900;
}
#submitPass {
  font-size: 18px;
  border-radius: 0;
  -webkit-animation: rainbowBG 6s ease-out infinite alternate;
  animation: rainbowBG 6s ease-out infinite alternate;
  color: #FAFAFA;
  border: 0;
  outline: 0;
  font-weight: 600;
  margin: 0;
  padding: 12px 16px;
  float: right;
}
#contentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* some typographic style helpers */
.text-right { text-align: right; }
.text-left { text-align: left;}
.sans {font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;}
.serif {font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.mono {font-family: Slussen Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;}

.tangley{"Tangley", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.taklobo{"Taklobo", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.sapfir{"Sapfir", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.negatif{"Negatif", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.emeritus{"Emeritus", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.slussen-ext{"Slussen Extended", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;}
.joly{"Joly Text", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
.slussen-mono{"Slussen Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;}